<h1>Data Collection</h1>

<% if user_signed_in? %>
<%= link_to "All surveys", surveys_path %>
<% end %>

<p>Welcome to our data collection platform! Here, you will be able to administer, manage, and take surveys
in a secure, anonymous way.</p>
